body {
    height: 100vh;
    display: flex;
    margin : 0px;
    background-color: #2B2B2B;
    color : white;
}


mainMenu {
    margin: auto;
    margin-top : 36px;
}

searchBar {
    width: 80%;
    height: 50px;
    background-color: #434343;
    border-radius: 25px;
    margin-left: 50px;
    margin-top : 36px;
}



