#searchBar{
    width: 75vw;
    height: 50px;
    background-color: #434343;
    border-radius: 25px;
    margin-left: 100px;
    margin-top : 36px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#searchBar-Content{
    margin-left: 30px;
    opacity: 40%;
}


